{% extends "dashboard/base.html" %}
{% block content %}
    <div class="col-md-offset-4">
        <h1>About Us</h1>
        <h3>
            Skin cancer — the abnormal growth of skin cells — most often develops on skin exposed to the sun. But this common form of cancer can also occur on areas of your skin not ordinarily exposed to sunlight. There are three major types of skin cancer — basal cell carcinoma, squamous cell carcinoma and melanoma.
        </h3>
        <br>
        <h3>
            We are <strong>SCNND</strong> (pronounce as scanned). We provide skin cancer detection with the use of convolutional neural network! 
        </h3>
    </div>

{% endblock content %}