{% extends "dashboard/base.html" %}
{% load mathfilters %}
{% block content %}

    <div class="col-md-12">
        <div class="row">
            <div class="card col-md-6 offset-md-3">
                <div class="card-body" id='txtInput'>
                    <h3>
                        <div class="row">
                            <div class="mr-auto">Result Status</div><div style="display: none;">.</div>
                            <a style="text-decoration:none" href="{% url 'file-upload' %}">
                                <div class="btn btn-sm btn-dark ">
                                    Upload
                                </div>
                            </a>
                        </div>
                        <!-- {% if request.user.role == 2 %}
                        <div>
                                <a style="text-decoration:none" href="{% url 'create-room' %}">
                                    <div class="btn btn-dark mt-5">
                                        <h5 style="color: white; vertical-align: middle;">Start Video Chat</h5>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                        <br><br> -->
                        
                    </h3>
                    <div class="row ">
                        <div class="col-md-6">
                            <div><img style="max-width:100%;
                                max-height:100%;border: 5px solid rgb(143, 143, 143);" src="{{uploads.file_uploaded}}" alt="skin cancer image">
                            </div>
                        
                            
                        </div>
                        <div class="col-md-6">
                            <div><b>Image: </b>{{ uploads.id }} <div style="display: none;">.</div></div>
                            <div><b>Date Uploaded: </b></div>
                            <div>{{ uploads.date_upload }}<div style="display: none;">.</div></div>
                            <div><b>Result: </b></div>
                            <div>{{ uploads.is_cancer }}<div style="display: none;">.</div></div>
                            
                            
                            
                            <br>
                            <!-- Precision, Recall, Accuracy -->
                            <div>
                                <button class="btn btn-dark" id='btnSpeak'>Read results!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- <input id='txtInput' /> <br><br>     -->
   
{% endblock content %}