{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section col-md-6">
    <div class="media">
    <img class="rounded-circle account-img" src="https://cdn.onebauer.media/one/empire-images/articles/5ce3c45b133d503e3a4a0bc6/john-wick-3-tr.jpg?quality=50&width=1800&ratio=16-9&resizeStyle=aspectfill&format=jpg">
    <div class="media-body">
        <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
        <p class="text-secondary"><b>Email: </b>{{ user.email }}</p>
        <p class="text-secondary"><b>Phone: </b>{{ user.phone_number }}</p>
        <p class="text-secondary"><b>Blood Type: </b>{{ user.blood_type }}</p>
        <p class="text-secondary"><b>Role: {{user.role|title}}</p>

    </div>
    </div>
    <a href="{% url 'profile-update' %}">
        <button class="btn btn-primary" type="submit">
            Update
        </button>
    </a>
    <a href="{% url 'profile-delete' user.id %}">
        <button class="btn btn-warning" type="submit">
            Delete
        </button>
    </a>
    
</div>
{% endblock content %}