{% extends "dashboard/base.html" %}
{% block content %}
<div class="card  col-md-4 m-1">
    <div class="card-body">
        <h3>Available Doctor</h3>
        <br>
        {% for doctor in doctors %}
        <a href="{% url 'contact-info' doctor.id %}" id="doctorDetail">
            <h5><div id='doctorBtnSpeak'>Dr. {{doctor.first_name| title}} {{doctor.last_name | title}}</div></h5>
            <i><div>Dr. {{doctor.email}}</div></i>
            <br>
        </a>
        {% endfor %}
    </div>
    <div></div>
</div>

    
{% endblock content %}